

.traffic-light {
    width: 200px;
    background-color: rgb(188, 185, 185);
    padding: 20px;
    margin: 50px;
    
}


.light {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: gray;
}


.red {
    background-color: red;
    border: 10px solid darkred
}

.yellow {
    background-color: yellow;
    border: 10px solid darkgoldenrod
}

.green {
    background-color: green;
    border: 10px solid darkgreen
}
